dashboard_frontend/flows,json
[
    {
        "id": "e5b95e724463ef49",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "IoT Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "5315fc1ee510af36",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#008080",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#06b6d4",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#008080",
                    "value": "#06b6d4",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0f172a",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#020617",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#1e293b",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#cbd5e1",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#333e4d",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#232834",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#f1f5f9",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0d5a68",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#212d40",
                    "edited": true
                },
                "base-font": {
                    "value": "Tahoma,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 9,
                "cy": 9,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f6036018e417722a",
        "type": "ui_group",
        "name": "Environment",
        "tab": "tab1",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fba22e4d226f107",
        "type": "ui_group",
        "name": "Activity",
        "tab": "tab1",
        "order": 3,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "258fc6e1d94e2575",
        "type": "ui_group",
        "name": "Air Quality",
        "tab": "tab1",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9067b8ee8e786248",
        "type": "ui_group",
        "name": "Trends",
        "tab": "tab1",
        "order": 5,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "e5b95e724463ef49",
        "name": "Every 5 sec",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "func1"
            ]
        ]
    },
    {
        "id": "func1",
        "type": "function",
        "z": "e5b95e724463ef49",
        "name": "Dummy sensor data",
        "func": "// Sensor types per location\nconst locations = {\n    \"CR-24\": [\"temp\", \"humidity\", \"occupancy\", \"noise\", \"light\"],\n    \"CR-25\": [\"temp\", \"humidity\", \"occupancy\", \"noise\", \"light\"],\n    \"CR-26\": [\"temp\", \"humidity\", \"occupancy\", \"noise\", \"light\"],\n    \"CR-27\": [\"temp\", \"humidity\", \"occupancy\", \"noise\", \"light\"],\n    \"CR-28\": [\"temp\", \"humidity\", \"occupancy\", \"noise\", \"light\"],\n    \"Lab-10\": [\"temp\", \"humidity\", \"co2\", \"occupancy\", \"status\"],\n    \"Lab-11\": [\"temp\", \"humidity\", \"co2\", \"occupancy\", \"status\"],\n    \"Lab-12\": [\"temp\", \"humidity\", \"co2\", \"occupancy\", \"status\"]\n};\n\nfunction randomValue(type) {\n    switch(type) {\n        case \"temp\": return Math.floor(Math.random() * 11) + 20;       // 20–30 °C\n        case \"humidity\": return Math.floor(Math.random() * 31) + 40;  // 40–70 %\n        case \"occupancy\": return Math.floor(Math.random() * 41);      // 0–40 people\n        case \"noise\": return Math.floor(Math.random() * 51) + 30;     // 30–80 dB\n        case \"light\": return Math.floor(Math.random() * 201) + 200;   // 200–400 lux\n        case \"co2\": return Math.floor(Math.random() * 601) + 400;     // 400–1000 ppm\n        case \"status\": return Math.random() > 0.5 ? \"active\" : \"idle\";\n        default: return null;\n    }\n}\n\nlet allData = [];\n\nfor (const room in locations) {\n    let sensors = {};\n    locations[room].forEach(sensor => {\n        sensors[sensor] = randomValue(sensor);\n    });\n\n    allData.push({\n        room: room,\n        timestamp: new Date().toLocaleTimeString(),\n        ...sensors\n    });\n}\n\nmsg.payload = allData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "tableConvert",
                "feba60f5361fb143"
            ]
        ]
    },
    {
        "id": "chart1",
        "type": "ui_chart",
        "z": "e5b95e724463ef49",
        "name": "Temperature Trend",
        "group": "9067b8ee8e786248",
        "order": 3,
        "width": "16",
        "height": "8",
        "label": "Temperature History",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ef4444",
            "#f97316",
            "#f8a10d",
            "#a21111",
            "#c55f16",
            "#af7612",
            "#7a3333",
            "#8c4b1d",
            "#8a682e"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "tableConvert",
        "type": "function",
        "z": "e5b95e724463ef49",
        "name": "Table Data",
        "func": "// msg.payload already contains an array of objects for all rooms\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "289a3d2b674890c8"
            ]
        ]
    },
    {
        "id": "feba60f5361fb143",
        "type": "split",
        "z": "e5b95e724463ef49",
        "name": "Split Rooms",
        "splt": "msg.payload",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "ca28230121710931",
                "7cfc31127e537f2d",
                "adb96d5f72849280",
                "a4cc41146a382b84"
            ]
        ]
    },
    {
        "id": "ca28230121710931",
        "type": "function",
        "z": "e5b95e724463ef49",
        "name": "Temp Extract",
        "func": "// This creates a message specifically for the Chart and Gauge\n// It sets the 'topic' to the room name so the chart creates different lines.\n\nreturn {\n    payload: msg.payload.temp,\n    topic: msg.payload.room,      // Crucial for the chart to separate lines\n    room: msg.payload.room,\n    timestamp: new Date().getTime()\n};\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 320,
        "wires": [
            [
                "chart1"
            ]
        ]
    },
    {
        "id": "af9a1c2085b21d3a",
        "type": "ui_template",
        "z": "e5b95e724463ef49",
        "group": "4fba22e4d226f107",
        "name": "CSS",
        "order": 4,
        "width": "0",
        "height": "0",
        "format": "<style>\n    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');\n\n    /* --- 1. MAIN CARD STYLE --- */\n    .sensor-card {\n        background: rgba(15, 23, 42, 0.85);\n        backdrop-filter: blur(20px);\n        border-radius: 24px;\n        border: 1px solid rgba(6, 182, 212, 0.3);\n        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);\n        padding: 30px;\n        width: 100%;\n        max-width: 900px;\n        min-height: 520px;\n        box-sizing: border-box;\n        margin: 0 auto;\n        display: flex;\n        flex-direction: column;\n        position: relative;\n        overflow: hidden;\n    }\n\n    /* Top Glow Bar */\n    .sensor-card::before {\n        content: '';\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        height: 3px;\n        background: linear-gradient(90deg, transparent, #06b6d4, transparent);\n    }\n\n    /* --- 2. HEADER --- */\n    .room-header {\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n        margin-bottom: 25px;\n        padding-bottom: 15px;\n        border-bottom: 1px solid rgba(148, 163, 184, 0.1);\n    }\n\n    .room-name {\n        font-size: 32px;\n        font-weight: 800;\n        color: #fff;\n        letter-spacing: 1px;\n        margin: 0;\n    }\n\n    .room-sub {\n        font-size: 12px;\n        color: #06b6d4;\n        text-transform: uppercase;\n        letter-spacing: 2px;\n        margin-top: 4px;\n    }\n\n    /* --- THE DYNAMIC BADGE --- */\n    .status-badge {\n        padding: 6px 16px;\n        border-radius: 20px;\n        font-size: 12px;\n        font-weight: 800;\n        text-transform: uppercase;\n        letter-spacing: 1.5px;\n        display: flex;\n        align-items: center;\n        gap: 8px;\n        transition: all 0.5s ease;\n    }\n\n    /* GREEN STATE (Active) */\n    .badge-green {\n        background: rgba(34, 197, 94, 0.15);\n        color: #4ade80;\n        border: 1px solid #22c55e;\n        box-shadow: 0 0 12px rgba(34, 197, 94, 0.4);\n    }\n\n    .badge-green .status-dot {\n        background-color: #4ade80;\n        animation: blink 2s infinite;\n    }\n\n    /* RED STATE (Idle/Inactive) */\n    .badge-red {\n        background: rgba(248, 113, 113, 0.15);\n        color: #f87171;\n        border: 1px solid #ef4444;\n        box-shadow: 0 0 12px rgba(248, 113, 113, 0.4);\n    }\n\n    .badge-red .status-dot {\n        background-color: #f87171;\n        box-shadow: none;\n    }\n\n    /* Blinking Dot Animation */\n    .status-dot {\n        width: 8px;\n        height: 8px;\n        border-radius: 50%;\n    }\n\n    @keyframes blink {\n        0% {\n            opacity: 1;\n            box-shadow: 0 0 5px currentColor;\n        }\n\n        50% {\n            opacity: 0.4;\n            box-shadow: none;\n        }\n\n        100% {\n            opacity: 1;\n            box-shadow: 0 0 5px currentColor;\n        }\n    }\n\n    /* --- 3. LAYOUT & TILES --- */\n    .dashboard-split {\n        display: flex;\n        flex: 1;\n        gap: 30px;\n    }\n\n    .left-panel {\n        flex: 0 0 280px;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n        gap: 35px;\n        border-right: 1px solid rgba(255, 255, 255, 0.05);\n        padding-right: 25px;\n    }\n\n    .circular-metric {\n        position: relative;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n    }\n\n    .circle-bg {\n        fill: none;\n        stroke: rgba(255, 255, 255, 0.05);\n        stroke-width: 12;\n    }\n\n    .circle-progress {\n        fill: none;\n        stroke-width: 12;\n        stroke-linecap: round;\n        transform: rotate(-90deg);\n        transform-origin: 50% 50%;\n        transition: stroke-dashoffset 1s ease;\n    }\n\n    .circle-inner-text {\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        transform: translate(-50%, -50%);\n        text-align: center;\n        pointer-events: none;\n    }\n\n    .val-text {\n        font-size: 28px;\n        font-weight: 700;\n        color: white;\n        line-height: 1;\n    }\n\n    .unit-text {\n        font-size: 11px;\n        color: #94a3b8;\n        text-transform: uppercase;\n        margin-top: 4px;\n    }\n\n    .donut-label {\n        margin-top: 12px;\n        color: #06b6d4;\n        font-size: 12px;\n        letter-spacing: 1px;\n        text-transform: uppercase;\n        font-weight: 600;\n    }\n\n    .right-panel {\n        flex: 1;\n        display: grid;\n        grid-template-columns: 1fr 1fr;\n        grid-template-rows: 1fr 1fr;\n        gap: 18px;\n        padding-left: 25px;\n    }\n\n    .data-tile {\n        background: rgba(255, 255, 255, 0.03);\n        border: 1px solid rgba(255, 255, 255, 0.05);\n        border-radius: 16px;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n        padding: 20px;\n        transition: all 0.3s ease;\n        min-height: 140px;\n    }\n\n    .data-tile.active-sensor:hover {\n        background: rgba(255, 255, 255, 0.08);\n        border-color: rgba(6, 182, 212, 0.4);\n        transform: translateY(-3px);\n    }\n\n    .data-tile.disabled-sensor {\n        opacity: 0.4;\n        border-style: dashed;\n    }\n\n    .tile-icon {\n        font-size: 28px;\n        margin-bottom: 12px;\n        color: #94a3b8;\n    }\n\n    .tile-val {\n        font-size: 32px;\n        font-weight: 700;\n        color: #fff;\n        line-height: 1;\n    }\n\n    .tile-label {\n        font-size: 10px;\n        color: #64748b;\n        text-transform: uppercase;\n        margin-top: 8px;\n        letter-spacing: 1px;\n    }\n\n    .tile-accent-yellow {\n        color: #facc15;\n    }\n\n    .tile-accent-purple {\n        color: #c084fc;\n    }\n\n    .tile-accent-blue {\n        color: #60a5fa;\n    }\n\n    .tile-accent-red {\n        color: #f87171;\n    }\n</style>\n\n<div class=\"sensor-card\">\n    <div class=\"room-header\">\n        <div>\n            <h2 class=\"room-name\">{{msg.payload.room}}</h2>\n            <div class=\"room-sub\">Live Monitor</div>\n        </div>\n\n        <div class=\"status-badge\" ng-class=\"{\n                'badge-green': (!msg.payload.status || msg.payload.status === 'active' || msg.payload.status === 'ACTIVE'),\n                'badge-red': (msg.payload.status === 'idle' || msg.payload.status === 'IDLE')\n             }\">\n            <div class=\"status-dot\"></div>\n            {{msg.payload.status || 'ACTIVE'}}\n        </div>\n    </div>\n\n    <div class=\"dashboard-split\">\n        <div class=\"left-panel\">\n            <div class=\"circular-metric\">\n                <svg width=\"140\" height=\"140\">\n                    <circle class=\"circle-bg\" cx=\"70\" cy=\"70\" r=\"60\"></circle>\n                    <defs>\n                        <linearGradient id=\"gradTemp\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">\n                            <stop offset=\"0%\" style=\"stop-color:#f87171;stop-opacity:1\" />\n                            <stop offset=\"100%\" style=\"stop-color:#fb923c;stop-opacity:1\" />\n                        </linearGradient>\n                    </defs>\n                    <circle class=\"circle-progress\" cx=\"70\" cy=\"70\" r=\"60\"\n                        ng-style=\"{'stroke': 'url(#gradTemp)', 'stroke-dasharray': 377, 'stroke-dashoffset': 377 - (377 * msg.payload.temp / 50)}\">\n                    </circle>\n                </svg>\n                <div class=\"circle-inner-text\">\n                    <div class=\"val-text\">{{msg.payload.temp}}°</div>\n                    <div class=\"unit-text\">Celsius</div>\n                </div>\n                <div class=\"donut-label\">Temperature</div>\n            </div>\n            <div class=\"circular-metric\">\n                <svg width=\"140\" height=\"140\">\n                    <circle class=\"circle-bg\" cx=\"70\" cy=\"70\" r=\"60\"></circle>\n                    <defs>\n                        <linearGradient id=\"gradHum\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">\n                            <stop offset=\"0%\" style=\"stop-color:#22d3ee;stop-opacity:1\" />\n                            <stop offset=\"100%\" style=\"stop-color:#3b82f6;stop-opacity:1\" />\n                        </linearGradient>\n                    </defs>\n                    <circle class=\"circle-progress\" cx=\"70\" cy=\"70\" r=\"60\"\n                        ng-style=\"{'stroke': 'url(#gradHum)', 'stroke-dasharray': 377, 'stroke-dashoffset': 377 - (377 * msg.payload.humidity / 100)}\">\n                    </circle>\n                </svg>\n                <div class=\"circle-inner-text\">\n                    <div class=\"val-text\">{{msg.payload.humidity}}%</div>\n                    <div class=\"unit-text\">RH</div>\n                </div>\n                <div class=\"donut-label\">Humidity</div>\n            </div>\n        </div>\n\n        <div class=\"right-panel\">\n            <div class=\"data-tile\"\n                ng-class=\"{'active-sensor': msg.payload.light !== undefined, 'disabled-sensor': msg.payload.light === undefined}\">\n                <i class=\"fas fa-lightbulb tile-icon\" ng-class=\"{'tile-accent-yellow': msg.payload.light !== undefined}\"></i>\n                <div class=\"tile-val\" ng-if=\"msg.payload.light !== undefined\">{{msg.payload.light}}</div>\n                <div class=\"tile-val\" ng-if=\"msg.payload.light === undefined\" style=\"font-size: 20px; opacity: 0.7;\">N/A\n                </div>\n                <div class=\"tile-label\">Light (Lux)</div>\n            </div>\n            <div class=\"data-tile\"\n                ng-class=\"{'active-sensor': msg.payload.noise !== undefined, 'disabled-sensor': msg.payload.noise === undefined}\">\n                <i class=\"fas fa-volume-up tile-icon\" ng-class=\"{'tile-accent-purple': msg.payload.noise !== undefined}\"></i>\n                <div class=\"tile-val\" ng-if=\"msg.payload.noise !== undefined\">{{msg.payload.noise}}</div>\n                <div class=\"tile-val\" ng-if=\"msg.payload.noise === undefined\" style=\"font-size: 20px; opacity: 0.7;\">N/A\n                </div>\n                <div class=\"tile-label\">Noise (dB)</div>\n            </div>\n            <div class=\"data-tile active-sensor\">\n                <i class=\"fas fa-users tile-icon tile-accent-blue\"></i>\n                <div class=\"tile-val\">{{msg.payload.occupancy}}</div>\n                <div class=\"tile-label\">Occupancy</div>\n            </div>\n            <div class=\"data-tile\"\n                ng-class=\"{'active-sensor': msg.payload.co2 !== undefined, 'disabled-sensor': msg.payload.co2 === undefined}\">\n                <i class=\"fas fa-wind tile-icon\" ng-class=\"{'tile-accent-red': msg.payload.co2 !== undefined}\"></i>\n                <div class=\"tile-val\" ng-if=\"msg.payload.co2 !== undefined\">{{msg.payload.co2}}</div>\n                <div class=\"tile-val\" ng-if=\"msg.payload.co2 === undefined\" style=\"font-size: 20px; opacity: 0.7;\">N/A\n                </div>\n                <div class=\"tile-label\">CO2 (ppm)</div>\n            </div>\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1010,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fcb763de9bca8f38",
        "type": "ui_dropdown",
        "z": "e5b95e724463ef49",
        "name": "",
        "label": "Select Room",
        "tooltip": "",
        "place": "Select option",
        "group": "4fba22e4d226f107",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "CR-24",
                "type": "str"
            },
            {
                "label": "",
                "value": "CR-25",
                "type": "str"
            },
            {
                "label": "",
                "value": "CR-26",
                "type": "str"
            },
            {
                "label": "",
                "value": "CR-27",
                "type": "str"
            },
            {
                "label": "",
                "value": "CR-28",
                "type": "str"
            },
            {
                "label": "",
                "value": "Lab-10",
                "type": "str"
            },
            {
                "label": "",
                "value": "Lab-11",
                "type": "str"
            },
            {
                "label": "",
                "value": "Lab-12",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 310,
        "y": 760,
        "wires": [
            [
                "b302a6cd63247f7b"
            ]
        ]
    },
    {
        "id": "7cfc31127e537f2d",
        "type": "function",
        "z": "e5b95e724463ef49",
        "name": "Filter Room",
        "func": "// 1. Get the selection\nlet selected = flow.get('selectedRoom') || \"CR-24\";\n\n// 2. SHERLOCK HOLMES LINE: Print the comparison to the Debug Tab\n// This will tell us EXACTLY why it is failing\nnode.warn(\"COMPARING: Selected=['\" + selected + \"'] vs Incoming=['\" + msg.payload.room + \"']\");\n\n// 3. Filter\nif (msg.payload.room === selected) {\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 460,
        "wires": [
            [
                "af9a1c2085b21d3a"
            ]
        ]
    },
    {
        "id": "b302a6cd63247f7b",
        "type": "change",
        "z": "e5b95e724463ef49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedRoom",
                "pt": "flow",
                "to": "msg.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "adb96d5f72849280",
        "type": "function",
        "z": "e5b95e724463ef49",
        "name": "Humidity Extract",
        "func": "return {\n    payload: msg.payload.humidity,\n    topic: msg.payload.room,\n    timestamp: new Date().getTime()\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 380,
        "wires": [
            [
                "2a5961485d1b32b9"
            ]
        ]
    },
    {
        "id": "2a5961485d1b32b9",
        "type": "ui_chart",
        "z": "e5b95e724463ef49",
        "name": "",
        "group": "9067b8ee8e786248",
        "order": 4,
        "width": "16",
        "height": "8",
        "label": "Humidity Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#604def",
            "#2a1c97",
            "#095086",
            "#486993",
            "#283d58",
            "#261d67",
            "#5a88c4"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a4cc41146a382b84",
        "type": "function",
        "z": "e5b95e724463ef49",
        "name": "Occupancy Extract",
        "func": "return {\n    payload: msg.payload.occupancy,\n    topic: msg.payload.room,\n    timestamp: new Date().getTime()\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 420,
        "wires": [
            [
                "50dd580d239eacd4"
            ]
        ]
    },
    {
        "id": "50dd580d239eacd4",
        "type": "ui_chart",
        "z": "e5b95e724463ef49",
        "name": "",
        "group": "4fba22e4d226f107",
        "order": 6,
        "width": "0",
        "height": "0",
        "label": "Room Usage (People)",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#22c55e",
            "#10b981",
            "#84cc16",
            "#2ca02c",
            "#98df8a",
            "#0c7954",
            "#496222",
            "#2a7446",
            "#407236"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b43a600ebb589be6",
        "type": "ui_template",
        "z": "e5b95e724463ef49",
        "group": "4fba22e4d226f107",
        "name": "Sub header",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(6, 182, 212, 0.15), transparent); /* Cyan Fade */\n    border-left: 4px solid #06b6d4; /* Solid Cyan Bar */\n    padding: 12px 16px;\n    margin-top: 30px;\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff; /* Bright White */\n        font-size: 18px; /* Bigger Size */\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(6, 182, 212, 0.6); /* Cyan Glow */\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-history\" style=\"margin-right: 12px; color: #22d3ee;\"></i>\n        Usage History\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "adf394466b5c3a49",
        "type": "ui_template",
        "z": "e5b95e724463ef49",
        "group": "4fba22e4d226f107",
        "name": "Header (Activity)",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(6, 182, 212, 0.15), transparent); /* Cyan Fade */\n    border-left: 4px solid #06b6d4; /* Solid Cyan Bar */\n    padding: 12px 16px;\n    margin-top: 30px;\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff; /* Bright White */\n        font-size: 18px; /* Much Bigger */\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(6, 182, 212, 0.6); /* Glowing Text */\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-users\" style=\"margin-right: 12px; color: #22d3ee;\"></i>\n        Zone Activity\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 380,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "289a3d2b674890c8",
        "type": "ui_template",
        "z": "e5b95e724463ef49",
        "group": "9067b8ee8e786248",
        "name": "Custom Table",
        "order": 5,
        "width": "16",
        "height": "6",
        "format": "<style>\n    /* Pure CSS - No hacking required */\n    .cyber-table {\n        width: 100%;\n        border-collapse: collapse;\n        font-family: 'Helvetica Neue', Arial, sans-serif;\n    }\n\n    /* Header Style */\n    .cyber-table th {\n        color: #06b6d4;\n        /* Cyan */\n        font-weight: 700;\n        text-transform: uppercase;\n        font-size: 12px;\n        padding: 10px;\n        text-align: center;\n        border-bottom: 1px solid rgba(6, 182, 212, 0.4);\n        background-color: rgba(15, 23, 42, 0.8);\n    }\n\n    /* Row Styles */\n    .cyber-table td {\n        color: #cbd5e1;\n        /* Grey-Blue */\n        padding: 8px;\n        text-align: center;\n        font-size: 13px;\n        border-top: 1px solid rgba(255, 255, 255, 0.05);\n    }\n\n    /* Alternating Colors */\n    .cyber-table tr:nth-child(even) {\n        background-color: rgba(255, 255, 255, 0.03);\n    }\n\n    .cyber-table tr:hover {\n        background-color: rgba(6, 182, 212, 0.1);\n    }\n\n    /* Container Scrollbar */\n    .table-container {\n        height: 100%;\n        overflow-y: auto;\n    }\n</style>\n\n<div class=\"table-container\">\n    <table class=\"cyber-table\">\n        <thead>\n            <tr>\n                <th>TIME</th>\n                <th>ROOM</th>\n                <th>TEMPERATURE</th>\n                <th>HUMIDITY</th>\n                <th>PEOPLE</th>\n                <th>NOISE</th>\n                <th>LIGHT</th>\n                <th>CO2</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr ng-repeat=\"row in msg.payload\">\n                <td>{{row.timestamp}}</td>\n                <td style=\"color: #fff; font-weight: bold;\">{{row.room}}</td>\n                <td>{{row.temp}}°C</td>\n                <td>{{row.humidity}}%</td>\n                <td>{{row.occupancy}}</td>\n                <td>{{row.noise || '-'}}</td>\n                <td>{{row.light || '-'}}</td>\n                <td>{{row.co2 || '-'}}</td>\n            </tr>\n        </tbody>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 840,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e339e5f694d73731",
        "type": "ui_template",
        "z": "e5b95e724463ef49",
        "group": "9067b8ee8e786248",
        "name": "Header (Trends)",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(249, 115, 22, 0.15), transparent); /* Orange Fade */\n    border-left: 4px solid #f97316; /* Solid Orange Bar */\n    padding: 12px 16px;\n    margin-top: 30px; /* Extra space to separate from the graphs above */\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff; /* Bright White */\n        font-size: 18px; /* Much Bigger */\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(249, 115, 22, 0.6); /* Glowing Text */\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-chart-line\" style=\"margin-right: 12px; color: #fb923c;\"></i>\n        Environmental Trends\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "4cad3274902bf383",
        "type": "ui_template",
        "z": "e5b95e724463ef49",
        "group": "9067b8ee8e786248",
        "name": "Header (table)",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(249, 115, 22, 0.15), transparent); /* Orange Fade */\n    border-left: 4px solid #f97316; /* Solid Orange Bar */\n    padding: 12px 16px;\n    margin-top: 30px; /* Extra space to separate from the graphs above */\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff;\n        font-size: 18px;\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(249, 115, 22, 0.6);\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-list-ul\" style=\"margin-right: 12px; color: #fb923c;\"></i>\n        Sensor Data Logs\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c2acf3ee790afe3f",
        "type": "ui_template",
        "z": "e5b95e724463ef49",
        "group": "4fba22e4d226f107",
        "name": "Dropdown",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function() {\n        var css = `\n            /* --- 1. THE LABEL (Always Glowing, even when selected) --- */\n            /* Standard State */\n            md-input-container label {\n                color: #22d3ee !important;\n                font-family: 'Helvetica Neue', sans-serif !important;\n                text-transform: uppercase !important;\n                font-weight: 700 !important;\n                text-shadow: 0 0 10px rgba(34, 211, 238, 0.8) !important;\n            }\n            \n            /* The \"Floated\" State (When a room is selected) */\n            md-input-container.md-input-has-value label,\n            md-input-container.md-input-focused label {\n                color: #22d3ee !important; \n                text-shadow: 0 0 12px rgba(34, 211, 238, 1) !important;\n                opacity: 1 !important;\n                transform: translate3d(0, 6px, 0) scale(0.9) !important; /* Force position */\n            }\n\n            /* --- 2. THE SELECTED TEXT (\"CR-27\") --- */\n            md-select .md-select-value span:first-child {\n                color: #ffffff !important;\n                font-size: 18px !important;\n                font-weight: 700 !important;\n                text-shadow: 0 0 12px rgba(34, 211, 238, 0.9) !important;\n                margin-top: 4px;\n            }\n\n            /* --- 3. THE UNDERLINE --- */\n            md-select .md-select-value {\n                border-bottom: 2px solid #22d3ee !important;\n                box-shadow: 0 4px 10px -2px rgba(34, 211, 238, 0.5);\n            }\n\n            /* --- 4. THE PLACEHOLDER (\"Select option\") --- */\n            md-select .md-select-value .md-select-placeholder {\n                color: #22d3ee !important;\n                opacity: 0.8 !important;\n            }\n            \n            /* --- 5. THE ARROW --- */\n            md-select .md-select-icon {\n                color: #22d3ee !important;\n            }\n        `;\n\n        var style = document.createElement('style');\n        style.type = 'text/css';\n        if (style.styleSheet){\n            style.styleSheet.cssText = css;\n        } else {\n            style.appendChild(document.createTextNode(css));\n        }\n        document.getElementsByTagName('head')[0].appendChild(style);\n    })();\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 270,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "da823dae42dcec6a",
        "type": "ui_template",
        "z": "e5b95e724463ef49",
        "group": "4fba22e4d226f107",
        "name": "top bar styler",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function() {\n        var css = `\n            /* --- 1. THE LABEL (Softer Glow) --- */\n            /* Standard State */\n            md-input-container label {\n                color: #22d3ee !important;\n                font-family: 'Helvetica Neue', sans-serif !important;\n                text-transform: uppercase !important;\n                font-weight: 700 !important;\n                /* Reduced glow intensity */\n                text-shadow: 0 0 8px rgba(34, 211, 238, 0.5) !important;\n            }\n            \n            /* The \"Floated\" State (When a room is selected) */\n            md-input-container.md-input-has-value label,\n            md-input-container.md-input-focused label {\n                color: #22d3ee !important; \n                /* Reduced glow intensity */\n                text-shadow: 0 0 10px rgba(34, 211, 238, 0.7) !important;\n                opacity: 0.9 !important; /* Slightly less opaque */\n                transform: translate3d(0, 6px, 0) scale(0.9) !important;\n            }\n\n            /* --- 2. THE SELECTED TEXT (\"CR-27\") --- */\n            md-select .md-select-value span:first-child {\n                color: #ffffff !important;\n                font-size: 18px !important;\n                font-weight: 700 !important;\n                /* Softer white/cyan glow */\n                text-shadow: 0 0 10px rgba(34, 211, 238, 0.4) !important;\n                margin-top: 4px;\n            }\n\n            /* --- 3. THE UNDERLINE --- */\n            md-select .md-select-value {\n                border-bottom: 2px solid #22d3ee !important;\n                /* More subtle shadow under the line */\n                box-shadow: 0 4px 8px -2px rgba(34, 211, 238, 0.3);\n            }\n\n            /* --- 4. THE PLACEHOLDER (\"Select option\") --- */\n            md-select .md-select-value .md-select-placeholder {\n                color: #22d3ee !important;\n                opacity: 0.6 !important; /* More transparent */\n            }\n            \n            /* --- 5. THE ARROW --- */\n            md-select .md-select-icon {\n                color: #22d3ee !important;\n            }\n        `;\n\n        var style = document.createElement('style');\n        style.type = 'text/css';\n        if (style.styleSheet){\n            style.styleSheet.cssText = css;\n        } else {\n            style.appendChild(document.createTextNode(css));\n        }\n        document.getElementsByTagName('head')[0].appendChild(style);\n    })();\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1050,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6482e398d93b0f75",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]